.container {
  background-size: cover;
  padding: 20px;
}

.led-box {
  height: 30px;
  width: 75%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}
/*
#4092f1 - blue
#f47503 - orange*/

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #cacab3;
  border-radius: 50%;
  display: inline-block;
}

.blink-blue {
  box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px;
  -webkit-animation: blinkBlue 1s infinite;
  -moz-animation: blinkBlue 1s infinite;
  -ms-animation: blinkBlue 1s infinite;
  -o-animation: blinkBlue 1s infinite;
  animation: blinkBlue 500ms infinite;
  animation-delay: 250ms;
}

@-webkit-keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}
@-moz-keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}
@-ms-keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}
@-o-keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}
@keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}


.led-orange {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #f47503;
    border-radius: 50%;
    display: inline-block;
}

.blink-orange {
    box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px;
    -webkit-animation: blinkOrange 1s infinite;
    -moz-animation: blinkOrange 1s infinite;
    -ms-animation: blinkOrange 1s infinite;
    -o-animation: blinkOrange 1s infinite;
    animation: blinkOrange 500ms infinite;
}

@-webkit-keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}
@-moz-keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}
@-ms-keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}
@-o-keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}
@keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}

@keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}


/* Neon Word Coloring */

/*neeeeoooon*/

.winner {
  text-align: center;
  font-size: 7em;
  color: #fff;
  margin: 20px 0 20px 0;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Monoton;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}


/*glow for webkit*/

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*glow*/

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
