.container {
  background-size: cover;
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  padding: 20px;
}

.led-box {
  height: 30px;
  width: 75%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}
/*
#4092f1 - blue
#f47503 - orange*/

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #cacab3;
  border-radius: 50%;
  display: inline-block;
}

.blink-blue {
  box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px;
  -webkit-animation: blinkBlue 1s infinite;
  -moz-animation: blinkBlue 1s infinite;
  -ms-animation: blinkBlue 1s infinite;
  -o-animation: blinkBlue 1s infinite;
  animation: blinkBlue 500ms infinite;
  animation-delay: 250ms;
}

@-webkit-keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}
@-moz-keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}
@-ms-keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}
@-o-keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}
@keyframes blinkBlue {
    0%, 100% { background-color: #cacab3; box-shadow: #8daed4 0px -1px 1px 1px, inset #7e90a5 2px -6px 15px; }
    50% { background-color: #4092f1; box-shadow: #4092f1 0px 0px 22px 4px, #6f8daf 0px 0px 6px 1px, inset #2c6ab1 1px -2px 9px 0px; }
}


.led-orange {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #f47503;
    border-radius: 50%;
    display: inline-block;
}

.blink-orange {
    box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px;
    -webkit-animation: blinkOrange 1s infinite;
    -moz-animation: blinkOrange 1s infinite;
    -ms-animation: blinkOrange 1s infinite;
    -o-animation: blinkOrange 1s infinite;
    animation: blinkOrange 500ms infinite;
}

@-webkit-keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}
@-moz-keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}
@-ms-keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}
@-o-keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}
@keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}

@keyframes blinkOrange {
  0%, 100% { background-color: #c7bcb2; box-shadow: #c39870 0px -1px 1px 1px, inset #a08c7a 2px -6px 15px;}
  50% { background-color: #f47503; box-shadow: #f47503 0px 0px 22px 4px, #b19174 0px 0px 6px 1px, inset #b36c2c 1px -2px 9px 0px; }
}