#machineHolder {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.machine {
  display: flex;
  margin: auto;
}

#top {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 720px;
  height: 0;
  border: 50px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 110px solid #1abc9c;
}

#middle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 800px;
  height: 0px;
  border: 10px solid rgba(0,0,0,0);
  border-top: 500px solid #1abc9c;
  border-bottom: 0px solid;
}

#bottom {
  box-sizing: content-box;
  width: 800px;
  height: 130px;
  background: #1abc9c;
}

#tray {
  height: 110px;
  width: 500px;
  border: #138871 solid 4px;
  background: black;
  display: flex;
  position: relative;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  top: -190px;
  background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 78%);
}

#tray-door {
  height: 110px;
  width: 500px;
  border: #138871 solid 4px;
  background: black;
  display: flex;
  position: relative;
  z-index: 6;
  margin-left: auto;
  margin-right: auto;
  top: -310px;
  background: #138871;
}



#slotMachine, .reel, .lever {display: inline-block;}


#slotMachine {
  border-radius: 30px;
  padding: 20px 0 20px 0;
  display: flex;
}


#slotMachine {
  position: relative;
  width: 70%;
  height: 100px;
  margin: 20px auto;
  background: #163961;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
#slotMachine:before {
  content: '';
  position: absolute;
  top: 9%;
  bottom: 9%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}



  .reel {
    text-align: center;
    float: left;
    padding: 0 10px;
    width: 120px;
    height: 100px;
    overflow: hidden;
    margin: auto 5px;
    border-radius: 22px;
    background: #d0d7de;
    box-shadow: inset 2px 4px 1em #727279;
    border: solid rgba(0, 0, 0, 0.33) 1px;
    z-index: 1;
  }
    .reel .innerReel {
      position: relative;
      top: -10px;
      padding: 15px;
      background: #7095bf;
    }

    .reel .innerReel div {
      position: relative;
      height: 30px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .reel p {
      font-weight: bold;
      height: 60px;
      margin-top: 10px;
    }
    .reel p:nth-child(1) {color:#c60}
    .reel p:nth-child(2) {color:#690}
    .reel p:nth-child(3) {color:#630}





\\\\\\\



#slotMachine {

}


html {
  font-size: 20px;
  font-family: Droid Sans, Helvetica;
  background-color: #3f3b7b;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


#wrapper {
  width: 600px;
  height: 245px;
  background: linear-gradient(45deg, #868686 0%, #ececec 50%, #868686 100%);
  padding: 20px 20px 20px 20px;
  -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
  border-radius: 10%;
  z-index: 2;
  position: relative;
  margin: auto;
  top: 120px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

#playFancy {
  margin: auto;
  display: flex;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0 20px;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal normal bold 20px/40px "Baumans", Helvetica, sans-serif;
  color: black;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(221, 221, 221);
  -webkit-box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
  box-shadow: 0 1px 0 0 rgb(119,119,119) , 0 2px 0 0 rgb(119,119,119) , 0 3px 0 0 rgb(119,119,119) , 0 4px 0 0 rgb(119,119,119) , 0 5px 0 0 rgb(119,119,119) , 0 6px 0 0 rgb(119,119,119) , 0 0 5px 0 rgba(0,0,0,0.0980392) , 0 1px 3px 0 rgba(0,0,0,0.298039) , 0 3px 5px 0 rgba(0,0,0,0.2) , 0 5px 10px 0 rgba(0,0,0,0.247059) , 0 10px 10px 0 rgba(0,0,0,0.2) , 0 20px 20px 0 rgba(0,0,0,0.14902) ;
  text-shadow: 0 1px 0 #FFFFFF ;
}

#playFancy:hover {
  background: #FFFFFF;
}

#playFancy:active {
  margin: 6px auto;
  background: rgb(221, 221, 221);
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
  box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.247059) , 0 4px 10px 0 rgba(0,0,0,0.2) , 0 14px 20px 0 rgba(0,0,0,0.14902) ;
}

#playFancy:focus {
  background: rgb(221, 221, 221);
  outline: 0;
}


/*Positioning Lights CSS*/

.lights {
  width: 24px;
  position: absolute;
  z-index: 3;
  top: 153px;
  margin-left: auto;
  margin-right: auto;
}

#lights1 {
  left: 600px;
  right: 0px;
}

#lights2 {
  right: 600px;
  left: 0px;
}

#winner {
  font-size: 70px;
  position: absolute;
  z-index: 4;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#tea-img {
  height: 72px;
  top: 593px;
}

#espresso-img {
  height: 50px;
  top: 613px;
}

#coffee-img {
  height: 82px;
  top: 582px;
}

.images {
  z-index: 5;
  position: absolute;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}