/* Slot Machine Container */

#slot-machine-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.machine-structure {
  display: flex;
  margin: auto;
}

#top {
  width: 720px;
  height: 0;
  border: 50px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 110px solid #797979;
}

#middle {
  width: 783px;
  height: 0px;
  border: 18px solid rgba(0,0,0,0);
  border-top: 160px solid #797979;
  border-bottom: 0px solid;
}

#middle2 {
  width: 782px;
  height: 0px;
  border: 40px solid rgba(0,0,0,0);
  border-bottom: 450px solid #797979;
  border-top: 0px solid;
}

#bottom {
  width: 862px;
  height: 180px;
  background: #797979;
}

#top-inside {
  position: absolute;
  z-index: 1;
  width: 708px;
  border: 46px solid rgba(0,0,0,0);
  border-bottom: 100px solid #1d5da7;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -39px;
}

#middle-inside {
  width: 757px;
  height: 0px;
  border: 18px solid rgba(0,0,0,0);
  border-top: 130px solid #1d5da7;
  border-bottom: 0px solid;
  position: absolute;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 117px;
}

#middle2-inside {
  position: absolute;
  z-index: 1;
  width: 742px;
  height: 0px;
  border: 35px solid rgba(0,0,0,0);
  border-bottom: 430px solid #1d5da7;
  border-top: 0px solid;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 283px;
}
#bottom-inside {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 817px;
  height: 145px;
  background: #1d5da7;
  top: 730px;
}

/* Handle Arm */

.handle {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: -973px;
  left: 0;
  top: 330px;
  width: 160px;
  height: 400px;
}

#handle-joint1, #handle-joint2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 50%,rgb(67, 67, 67) 100%);
}

#handle-joint1 {
  height: 75px;
  width: 31px;
  left: -117px;
  right: 0;
  top: 251px;
}


#handle-joint2 {
  top: 264px;
  right: 0px;
  left: -68px;
  height: 50px;
  width: 18px;
}

#handle-arm {
  height: 240px;
  width: 11px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -67px;
  right: 0;
  top: 45px;
  z-index: 0;
  border-radius: 6px;
  background: linear-gradient(to right, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 50%,rgb(67, 67, 67) 100%);
}

.pullHandle {
  background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 50%,rgb(67, 67, 67) 100%);
  animation: pullHandle 1s alternate 0s 2;
}

@keyframes pullHandle {
    0% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 50%,rgb(67, 67, 67) 100%); }
    10% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 52.5%,rgb(67, 67, 67) 100%); }
    20% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 55%,rgb(67, 67, 67) 100%); }
    30% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 57.5%,rgb(67, 67, 67) 100%); }
    40% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 60%,rgb(67, 67, 67) 100%); }
    50% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 62.5%,rgb(67, 67, 67) 100%); }
    60% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 65%,rgb(67, 67, 67) 100%); }
    70% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 67.5%,rgb(67, 67, 67) 100%); }
    80% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 70%,rgb(67, 67, 67) 100%); }
    90% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 72.5%,rgb(67, 67, 67) 100%); }
    100% { background: linear-gradient(to bottom, rgb(67, 67, 67) 0%,rgb(207, 210, 208) 75%,rgb(67, 67, 67) 100%); }
}

#handle-ball {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #2f88ef;
  box-shadow: inset #1d436f 4px -6px 14px 1px,inset #225ea5 4px -6px 27px 1px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10px;
  left: 27px;
}

/* Tray */

#tray {
  height: 110px;
  width: 500px;
  border: #4786ce solid 4px;
  background: black;
  display: flex;
  position: relative;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  top: -153px;
  background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 78%);
}

#tray-door {
  height: 110px;
  width: 500px;
  border: #4786ce solid 4px;
  background: black;
  display: flex;
  position: relative;
  z-index: 6;
  margin-left: auto;
  margin-right: auto;
  top: -273px;
  background: #4786ce;
}

/* Slot Machine Reels */

#wrapper {
  width: 740px;
  height: 385px;
  padding: 20px 20px 20px 20px;
  border-radius: 10%;
  z-index: 2;
  position: relative;
  margin: auto;
  top: 285px;
}

#slot-machine {
  border-radius: 30px;
  padding: 20px 0 20px 0;
  display: flex;
  position: relative;
  width: 82%;
  height: 220px;
  margin: 20px auto;
  background: #194982;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}

#slot-machine:before {
  content: '';
  position: absolute;
  top: 9%;
  bottom: 9%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.reel {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 0 10px;
  width: 170px;
  height: 180px;
  overflow: hidden;
  margin: auto;
  border-radius: 22px;
  background: #d0d7de;
  box-shadow: inset 2px 4px 1em #727279;
  border: solid rgba(0, 0, 0, 0.33) 1px;
  z-index: 1;
}

.reel .inner-reel {
  position: relative;
  top: -91px;
  padding: 15px;
  background: #7095bf;
}

.reel .inner-reel div {
  letter-spacing: 2px;
  font-size: 30px;
  font-family: Bangers, Helvetica;
  position: relative;
  height: 80px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.25) solid 2px;
}

/*Positioning Lights CSS*/

.lights {
  width: 24px;
  position: absolute;
  z-index: 3;
  top: 298px;
  margin-left: auto;
  margin-right: auto;
}

#lights1 {
  transform: rotate(-4.5deg);
  left: 744px;
  right: 0px;
}

#lights2 {
  transform: rotate(4.5deg);
  right: 744px;
  left: 0px;
}

#lights3 {
  width: 710px;
  right: 0;
  left: 31px;
  top: 298px;
}

#lights4 {
  width: 780px;
  right: 0;
  left: 40px;
  top: 688px;
}

/* Slot Machine Features */

#winner {
  font-size: 115px;
  position: absolute;
  z-index: 4;
  top: 84px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: perspective(520px) rotateX(-15deg);
}

#logo {
  color: #c6d7ea;
  text-shadow: black 4px 5px;
  font-size: 100px;
  position: absolute;
  z-index: 4;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  font-family: Bangers, Helvetica;
}

.thumbtack-logo {
  height: 75px;
}

/* Images */

.images {
  z-index: 5;
  position: absolute;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#tea-img {
  height: 72px;
  top: 790px;
}

#espresso-img {
  height: 50px;
  top: 812px;
}

#coffee-img {
  height: 82px;
  top: 780px;
}

/* General */

html {
  font-size: 20px;
  background-color: #000000;
}

#footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
  color: white;
}
